<style>

  div.btn-group {
    margin-bottom: 20px;
  }

  div.sort-filter {
    margin-left: 300px;
  }

</style>

<h1>Menu</h1>

<div class="btn-group">
  <% @sections.each do |section| %>
    <%= link_to section.name, menu_path(section_id: section.id), class: "btn #{params[:section_id] == section.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
  <% end %>

  <div class="sort-filter">
    <%= form_tag menu_path, method: "get" do %>
      <% if params[:section_id] %>
        <%= hidden_field_tag 'section_id', params[:section_id] %>
      <% end %>

      <%= select_tag "order_by", options_for_select([['A -> Z', 'asc'], ['Z -> A', 'desc'], ['Price asc', 'price_asc'], ['Price desc', 'price_desc']], params[:order_by]), {:prompt => 'Sort by'} %>
      <%= submit_tag "Sort", :name => nil, class: 'btn btn-primary' %>

      <%= select_tag "cuisine_id", options_for_select([['Vietnamese', 1], ['Japanese', 2], ['Italian', 3], ['French', 4]], params[:cuisine_id]), {:prompt => 'Cuisine'}%>
      <%= submit_tag "Filter", :name => nil, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @food_items.each_with_index do |dish, index| %>
    <% if index % 3 == 0 %>
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%=dish.image_url_or_default%>" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title"><%=dish.name%></h4>
            <p class="card-text"><%= (dish.description[0..100].gsub(/\s\w+$/,'...'))%></p>
            <a> <%= link_to "Show detail", food_item_path(dish.id), class: 'btn btn-primary' %> </a>
            <a> <%= link_to "Add to order", new_food_item_order_path(dish), class: 'btn btn-primary' %> </a>
          </div>
        </div>
      </div>
    <% elsif index % 3 == 1 %>
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%=dish.image_url_or_default%>" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title"><%=dish.name%></h4>
            <p class="card-text"><%=(dish.description[0..100].gsub(/\s\w+$/,'...'))%></p>
            <a> <%= link_to "Show detail", food_item_path(dish.id), class: 'btn btn-primary' %> </a>
            <a> <%= link_to "Add to order", new_food_item_order_path(dish), class: 'btn btn-primary' %> </a>
          </div>
        </div>
      </div>
    <% elsif index % 3 == 2 %>
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%=dish.image_url_or_default%>" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title"><%=dish.name%></h4>
            <p class="card-text"><%=(dish.description[0..100].gsub(/\s\w+$/,'...'))%></p>
            <a> <%= link_to "Show detail", food_item_path(dish.id), class: 'btn btn-primary' %> </a>
            <a> <%= link_to "Add to order", new_food_item_order_path(dish), class: 'btn btn-primary' %> </a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

