<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home 
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%= form_tag(menu_path, :method => "get", id: "search-form") do %>
        <% if params[:section_id] %>
          <%= hidden_field_tag 'section_id', params[:section_id] %>
        <% end %>

        <% if params[:cuisine_id] %>
          <%= hidden_field_tag 'cuisine_id', params[:cuisine_id] %>
        <% end %>

        <% if params[:order_by] %>
          <%= hidden_field_tag 'order_by', params[:order_by] %>
        <% end %>

        <div class="search-text-field">
          <%= text_field_tag :search, params[:search], placeholder: "Search Dishes", class: 'form-control' %>
        </div>
        <div>
          <%= submit_tag "Search", class: "btn btn-success" %>
        </div>
      <% end %>
    </form>
  </div>
</nav>